<a href="https://colab.research.google.com/github/Nagmashaik123/MedConcepts/blob/main/TweetFormatted.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
import json
import csv
import collections



dataList = []
def writeTweetData():
    dyfunctionfile = open('MedicalDyfunctions.json')
    jsonList = json.load(dyfunctionfile)
    print(jsonList)
    global dataList
    fileName = 'MedicalConcepts'
    with open('%s.csv' % (fileName), 'w') as file:
        w = csv.writer(file)
        w.writerow(['ID', 'Concept', 'AuthorID', 'TweetText', 'CreatedDate'])
        for jsonData in jsonList:
            for jsonKey, jsonValues in jsonData.items():
                dataList = jsonData['tweets']['data']
                for data in dataList:
                    for key, value in data.items():
                        authorID  = data['author_id']
                        textData  = data['text']
                        createdDt = data['created_at']
                        w.writerow([jsonData['cui'], jsonData['concepts'], authorID, textData, createdDt])


writeTweetData()

IOPub data rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_data_rate_limit`.

Current values:
NotebookApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
NotebookApp.rate_limit_window=3.0 (secs)

In [7]:
import pandas as pd
df=pd.read_csv(r"MedicalConcepts.csv")
df

              ID  ...               CreatedDate
0       C0003123  ...  2021-06-25T23:44:49.000Z
1       C0003123  ...  2021-06-25T23:44:49.000Z
2       C0003123  ...  2021-06-25T23:44:49.000Z
3       C0003123  ...  2021-06-25T23:44:49.000Z
4       C0003123  ...  2021-06-25T23:44:49.000Z
...          ...  ...                       ...
373165  C0231230  ...  2012-01-21T17:25:08.000Z
373166  C0231230  ...  2012-01-21T17:25:08.000Z
373167  C0231230  ...  2012-01-21T17:25:08.000Z
373168  C0231230  ...  2012-01-21T17:25:08.000Z
373169  C0231230  ...  2012-01-21T17:25:08.000Z

[373170 rows x 5 columns]